footer {
  background-color: #141415;
  color: white;
  margin-top: 25px;
}
.foot-title {
  padding: 12px 48px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
}
.foot-title-txt {
  padding: 12px 0;
}
.foot-title-imgs img {
  margin: 12px 0;
  margin-right: 24px;
}
footer .last {
  margin-right: 0;
}
.foot-title a {
  margin-left: 4px;
  color: #cec0fc;
}
.foot-title a:hover {
  text-decoration: underline;
}
.others {
  padding: 24px 48px;
  padding-bottom: 0;
}
.foot-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 70px;
  row-gap: 6px;
  font-size: 14px;
  font-weight: 400;
}
.foot-categories a {
  color: white;
}
.foot-categories a:hover {
  text-decoration: underline;
}
footer .categories-btn {
  display: flex;
  justify-content: space-between;
}
.foot-btn span {
  margin-left: 10px;
}
.foot-btn button {
  padding: 5px 10px;
  padding-right: 35px;
  background-color: #141415;
  color: white;
}
.foot-btn button:hover {
  background-color: #3b3a3a;
}
.img-copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 32px;
}
.copyright {
  font-size: 12px;
  font-weight: 400;
}
@media screen and (max-width: 1320px) {
  .foot-title {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .foot-categories {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 750px) {
  .foot-title {
    font-size: 16px;
  }
}
